<head>
<link rel="stylesheet" href="style.scss">
</head>

<h1>Stupid Coaching</h1>

<h2> Your question:</h2>
  <%= @question %>
  <p> - You</p>

<h2>Answer:</h2>
  <%= @answer %>
  <p> - Your coach</p>
